@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to RSGym Client Management! Our app is designed to make it easy to manage membership registrations and payments. Enjoy a simple and efficient way to handle all your membership information. If you need any help, our support team is here for you. Welcome aboard!</p>
    <img src="~/media/home_foto.jpeg" alt="Gym picture" class="homeImage"/>
</div>
