@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Welcome to RSGym! We value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you use our app for gym registrations.
    <br />
    We collect personal information such as your name, email address, phone number, and payment details to process your gym registrations and provide our services. Usage data and device information may also be collected to enhance your experience and improve our app.
    <br />
    We do not sell or rent your personal information to third parties. We may share your data with trusted partners, such as gyms and service providers, to facilitate your registrations and ensure smooth operation of our services. Your information may also be disclosed to comply with legal obligations.
    <br />
    We implement security measures to protect your data, but please note that no method of transmission or storage is completely secure. You have the right to access, update, or delete your personal information. For any questions or concerns about our Privacy Policy, please contact us at [rsgym@mail.com].
</p>
