@model RSGymClientManagment.Models.Contracts

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contracts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContractId" />
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoyaltyId" class="control-label"></label>
                <select asp-for="LoyaltyId" class="form-control" asp-items="ViewBag.LoyaltyId"></select>
                <span asp-validation-for="LoyaltyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract" class="control-label"></label>
                <select asp-for="Contract" class="form-control" asp-items="ViewBag.ContractType"></select>
                <span asp-validation-for="Contract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyFee" class="control-label"></label>
                <input asp-for="MonthlyFee" class="form-control" />
                <span asp-validation-for="MonthlyFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
