.navbar-custom {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/wallpapergym.jpeg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 100px;
    position: relative;
    z-index: 10;
}


.navbar-brand, .nav-link {
    color: white !important;
    z-index: 11;
}


    .nav-link:hover {
        font-weight: bold;
    }

.title {
    font-weight: bold;
}

.navbar-brand img {
    height: 80px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.btn-custom-rounded {
    border-radius: 50px;
}

.homeImage {
    max-width: 30%;
    height: auto;
    margin-top: 20px;
}



.table-custom th {
    background-color: #778899;
    color: white;
    text-align: left;
    font-weight: initial;
}

.table-custom tr:nth-child(even) {
    background-color: #f9f9f9;
}




